*{
	margin: 0;
	padding: 0;
}
*::selection{
	background: rgba(255,255,0,0.85);
	color: #000;
}
body{
	font-size: 14px;
	font-family:  PingFangSC,-apple-system,Helvetica Neue,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
	/* background: #444; */
}
/* 清除浮动 */
.clearfix:before,.clearfix:after{
	display: table;
	content: "";
	clear: both;
}
.cartIcon{
	position: fixed;
	right:20px;
	top:400px;
}
.cartIcon .icon-ai-cart:before{
	font-size:30px;
	color:#fff;
}
.cartIcon span{
	display:block;
	background:#000;
	border-radius: 50%;
	width:60px;
	height:60px;
	text-align:center;
	line-height:60px;
	box-shadow:0 2px 4px 1px rgba(0,0,0,.5);
	margin-bottom:15px;
}
.cartIcon span:last-child{
	color:#000;
	background:#fff;

}
