/*section_w 首页主体第一部分宽度 */ 
section>div:first-child{
	/* border: 2px dashed blue; */
}
.section_w{
	width: 1036px;
	margin: 0 auto;
	margin-top: 50px;
	position:relative;
}
/* sec_l首页左边宽度 */
.sec_l{
	width: 214px;
	float: left;
	/* top: ; */
}
/* logo + 手风琴*/
.sec_l>img{
	width: 160px;
	margin-left: 20px;
	padding-bottom: 48px;
}
/* sec_l_list 左边logo下列表样式 */
.sec_l>.sec_l_list{
	width: 186px;
	height: 300px;
	padding: 10px;
	position: relative;
}
.sec_l_list>div>a{
	font-weight: bolder;
	color: #000;
	text-decoration: none;
}
.show{
	display:none;
	width: 186px;
	float: left;
	transition: all 1s;
}
.showul:hover .show{
	display:block;

	
}
.show li{
	font-size:13px;
	list-style:none;
	display: inline-block;
	margin: 2px 0;

}
.show>li a{
	color:#a4b4d1;
	text-decoration:none;
	/* float:left; */

}
.show>li a:hover{
	color:#009bff;
}

.section_w .sec_l_list_bottom a{
	position: absolute;
	font-size: 12px;
	font-weight: normal;
	color: #a4b4d1;
	bottom: 16px;
	left: 66px;
}

/* sec_m首页中间 搜索栏 + 轮播图 + 商品展示 */
/* sec_m宽度 */
.sec_m{
	width: 645px;
	height: 410px;
	float: left;
	margin-left: 6px;
}
.sec_m::after{
	content: "";
	display: inline-block;
	clear: both;
}
/* 搜索栏 */
.sec_m>.sec_search{
	/* border: 1px solid red; */
	height: 90px;
}
/* 中间搜索栏样式 */
.sec_m>.sec_search>div{
	width: 330px;
    margin-left: 120px;
    /* margin-top: -20px; */
}
.bor{
	border-bottom: 2px solid #000;
	display: inline-block;
	height: 30px;
}
.bor>img{
	width: 20px;
	position: relative;
    top: 5px;
    margin-bottom: 4px;
}
.bor>input{
	width: 300px;
	border: 0;
	outline: 0;
}
.btn_sec_m_search{
	background: #000;
	width: 64px;
	height: 30px;
	color: #fff;
	font-weight: 600;
	border: 0;
	outline: 0;
	position: relative;
	top: -5px;
}
/* 中间搜索栏下list文字样式 */
.sec_m_search_list{
	margin-top: 10px;
}
.sec_m_search_list div{
	display: inline-block;
}
.sec_m_search_list div>ul{
	list-style-type: none;
	padding: 0;
	font-size: 12px;
}
.sec_m_search_list li{
	float: left;
	line-height: 12px;
}
.sec_m_search_list a{
	text-decoration: none;
	color: #4a4a4a;
	padding: 4px 10px 2px 0;
}
/* 中间轮播和小图 */
.sec_m>div:last-child{
	float: left;
}
.sec_m>div>img:first-child{
	margin-right: 6px;
}
.sec_m>div>img:nth-child(2),.sec_m>div>img:nth-child(3){
	float:right;
}
.sec_m>div>img:nth-child(3){
	position: relative;
	top: -158px;
}
/* sec_r首页右边 */
.sec_r{
	width: 165px;
	float: right;
	position: relative;
	top: 90px;
}
/* 微信图标 */
.wx_app{
	width: 125px;
	position: absolute;
	top: -40px;
	right: 10px;
	display: none;
}
.section_w:hover .wx_app{
	display: block;
}
/* 主体右边登录框 */
.side_welcome img{
	width: 165px;
	position: absolute;
	top: 0;
	right: 0;
}
.welcome_bblock{
	position: absolute;
	width: 139px;
	height: 38px;
	background: #010e17;
	text-align: center;
	top: 100px;
	left: 13px;
}
.welcome_bblock span{
	text-decoration: none;
	color: #fff;
	line-height: 38px;
}
/* 小图标 */
.sec_r_icon{
	width: 80px;
	height: 20px;
	position: absolute;
	top: 155px;
	left: 20px;
}
.sec_r_icon span{
	color: rgba(250,250,250,0.7);
}
.blur_border:hover{
	box-shadow: 0px 0px 10px 2px #00f3ff;
}
.r_bg_brown{
	background: #8a7b49;
	position: absolute;
	width: 165px;
	height: 120px;
	top: 193px;
	right: 0;
}
.r_bg_brown>div{
	margin-top: 10px;
	margin-left: 15px;
	width: 160px;
	height: 70px;
	font-size: 16px;
	color: rgba(250,250,250,0.7);

}
.r_bg_brown>div>div{
	margin-top: 25px;
}
.r_bg_brown span{
	font-size: 25px;
	letter-spacing: 10px;
}
.brown_c{
	position: absolute;
	top: 193px;
	right: 0;
	border-bottom: 120px solid #807143;
	border-left: 35px solid transparent;
	width: 20px;
}
/* 

 */
/* indexbig间隔图 */
.index_big_img1{
	width: 1036px;
	height: 150px;
	margin: 0 auto;
	background-image: url("../img/indexbigimg/keyboard1.png");
	background-position: 20% 50%;
	background-attachment:fixed;
	background-repeat: no-repeat;
}
/* 键盘title */
.commTitle{
	width: 1036px;
	height: 50px;
	margin: 15px auto;
	font-size: 30px;
	font-weight: bold;
	border-bottom: 2px solid #000;


}
/* 1F 机械键盘 */
.commList{
	width: 1036px;
	margin: 15px auto;
	box-sizing: border-box;
	justify-content: space-around;
}
.commList .listItem{
	width: 244px;
	height: 220px;
	display: inline-block;
	color: #000;
	position: relative;
	box-sizing: border-box;
	text-decoration: none;
	margin-left: 10px;
	transition:border .3s linear;
	border: 1px solid transparent;
}
.commList .listItem:hover{
	box-shadow: 0 0 5px 1px rgba(200,200,200,.7);
	border: 1px solid rgb(200,200,200);
}

.commList .listItem:hover .listWarp >span{
	opacity: 1;
}
.lwTop{
	/* border: 1px solid blue; */
	background: rgba(59,116,183,.06);
	overflow: hidden;
}
.lwTop img{
	/* border: 1px solid green; */
	width: 100%;
	transition:transform .3s linear;
}
.lwTop img:hover{
	transform: scale(1.08,1.08);
}
.listWarp >span{
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 60px;
	height: 25px;
	background: #d2f4ff;
	font-size: 12px;
	text-align: center;
	line-height: 25px;
	/* padding-left:-5px; */
	opacity: .6;
	margin-top: 8px;
	margin-left: 8px;
}
.lwBottom{
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
}
.lwBottom .mainTitle{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
}
.lwBottom .subTitle{
	font-size: 12px;
	opacity: 0.5;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

}
.lwBottom .price{
	font-size: 12px;
	color: #f00;
}
/* indexbig间隔图 */
.index_big_img2{
	width: 1036px;
	height: 150px;
	margin: 0 auto;
	background-image: url("../img/indexbigimg/hifi.jpg");
	background-position: 20% 50%;
	background-attachment:fixed;
	background-repeat: no-repeat;
}
.index_big_img3{
	width: 1036px;
	height: 150px;
	margin: 0 auto;
	background-image: url("../img/indexbigimg/comp.jpg");
	background-position: 40% 50%;
	background-attachment:fixed;
	background-repeat: no-repeat;
}
.index_big_img4{
	width: 1036px;
	height: 150px;
	margin: 0 auto;
	background-image: url("../img/indexbigimg/mouse.jpeg");
	background-position: 10% 50%;
	background-attachment:fixed;
	background-repeat: no-repeat;
}