.top_header{
	width: 100%;
	height: 50px;
	background: #000;
	position: fixed;
	top: 0;
	color: #fff;
	z-index: 20;
	box-sizing: border-box;
}
 /*  控制内容区域居中和宽度1200px */
.top_header>.header_inner{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.header_inner a{
	text-decoration: none;
	color: #fff;
}
/* 左边div */
.headerLeft{
	position: absolute;
	left: 0;
	width: 200px;
	height: 50px;
	line-height: 50px;
}
/* logo */
.headerLeft>.logo{
	font-size: 20px;
	line-height: 50px;
	text-decoration: none;
	color: #fff;
	z-index: 1;
}
/* 滑块上的字 */
.headerLeft span{
	margin-left: 35px;
	color: #000;
	line-height: 50px;
	z-index: 0;
}
/* 滑块 */
.headerLeft>.moving_block{
	position: absolute;
	top: 11px;
	left: 100px;
	border-left: 85px solid rgba(255,255,255,.9);
	border-right: 15px solid transparent;
	border-bottom: 30px solid rgba(255,255,255,.9);
	z-index: -1;
	
}
/* 中间导航 */
.navBar{
	position: absolute;
	left: 380px;
	right: 236px;
	width: 600px;
	height: 50px;
	padding-left: 200px;
}

.barItem .dropList{
	display: inline-block;
	margin-left: 30px;
	line-height: 50px;
	list-style: none;
}
.dropList{
	position: relative;
}
.dropItem{
	position: absolute;
	left: -20px;
	top: 50px;
	width: 160px;
	height: 0;
	overflow: hidden;
	text-align: left;
	background: #fff;
	transition: all .3s linear;
	z-index: 30;
}
.dropItem a{
	color: #333;
}
.dropList:hover .dropItem{
	display: block;
	box-shadow: 0 0 4px 2px rgba(0,0,0,.3);
	z-index: 20;
}
.dropItem>li{
	padding-left: 20px;
}
.dropItem>li:hover{
	background: #ccc;
}
.dropItem>li:hover a{
	color: #fff;
}

/* 移动块hover */
/* .top_header>div>:nth-child(2)>ul>li:hover .moving_block{
	transform: translate(0,0);
} */
/* 右边div */
.top_header .headerRIght{
	position: absolute;
	right: 0;
	width: 236px;
	height: 50px;
}
.top_header .headerRIght:{
	position: relative;
}
.headerRIght span{
	display: inline-block;
	line-height: 50px;
}
.icon-fangdajing:before{
	margin-left: 100px;
	font-size: 25px;
	vertical-align: middle;
	padding-right: 15px;
	cursor: pointer;
}
/* 顶部黑条下面类别 */
.familyNav{
	width: 100%;
	height: 91px;
	background: #232323;
	position: fixed;
	top: 50px;
	z-index: 10;
}
.navList{
	width: 1200px;
	margin: 15px auto;
	display: flex;
	justify-content: space-between;
}
.navItem{
	display: inline-block;
	width: 111px;
	height: 61px;
	position: relative;
	border: 1px solid transparent;
	text-decoration: none;
	color: #fff;
	font-weight: bolder;
	font-size: 16px;
	/* transition: .3s; */
}
.navItem:hover{
	border: 1px solid #00f3ff;
	box-shadow: 0 0 10px 2px rgba(0,150,150,.9);
	transition: .3s;
}
.navItem img{
	width: 111px;
}
.navItem .listTitle{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 61px;
	background: rgba(20,20,20,0.5);
}
.navItem:hover .listTitle{

	background: rgba(20,20,20,0.1);
}